header{
    
    #subtitle
    {
        font-size: 12px;
    }
    #title
    {
        font-size: 25px;
    }

    p
    {
        color: white;
        display: flex;
        font-family: arial;
        margin: 5px;
    }

    background: brown;
    padding: 10px;
    border-radius: 5px;
    margin: 0px auto;
    width: 80%;
    height: 100px;
}