<main>
    <p id='title'> Iniciar Sesión </p>
    <p id='subtitle'> Para empezar a usar EatNow, debes iniciar sesión </p>

    <div id='tagUsername'>
        <p> Nombre de usuario </p>
        <input />
    </div>

    <div id='tagPassword'>
        <p> Contraseña </p>
        <input type='password' />
    </div>

    <div id='tagSend'>
        <p> Al hacer click en este botón el sistema validará todos los datos </p>
        <button>Validar</button>
    </div>

    <div id='tagState'>
    </div>
</main>