/* line 1, ../sass/dashboard.scss */
body {
  background: brown;
}
/* line 3, ../sass/dashboard.scss */
body #dashboardCard {
  border-radius: 10px;
  background-color: gray;
  width: 100%;
  height: 600px;
  margin: 10px auto;
}
/* line 5, ../sass/dashboard.scss */
body #dashboardCard div {
  margin-top: 30px;
  margin-left: 20px;
}
/* line 7, ../sass/dashboard.scss */
body #dashboardCard div #salir {
  background-image: url("../img/logout.png");
}
/* line 12, ../sass/dashboard.scss */
body #dashboardCard div #creacionGrupo {
  background-image: url("../img/group.png");
}
/* line 17, ../sass/dashboard.scss */
body #dashboardCard div #reserva {
  background-image: url("../img/reserva.png");
}
/* line 22, ../sass/dashboard.scss */
body #dashboardCard div button:hover {
  filter: invert(100%);
}
/* line 27, ../sass/dashboard.scss */
body #dashboardCard div button {
  margin: 5px;
  display: inline-block;
  transition: 0.15s;
  outline: 0px;
  border: 0px;
  border-radius: 5px;
  width: 140px;
  height: 140px;
  background: aliceblue;
}
/* line 44, ../sass/dashboard.scss */
body #dashboardCard #titulo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  position: relative;
  top: 20px;
  left: 20px;
  color: white;
}

/* line 64, ../sass/dashboard.scss */
header {
  width: 100%;
  height: 120px;
  background-color: brown;
  border-radius: 10px;
}
/* line 66, ../sass/dashboard.scss */
header #infoUser {
  padding: 5px;
  width: 220px;
  height: 110px;
  position: absolute;
  right: -53px;
  top: 9px;
}
/* line 68, ../sass/dashboard.scss */
header #infoUser div {
  margin: 3px;
}
/* line 73, ../sass/dashboard.scss */
header #infoUser #completeName {
  color: white;
  font-family: arial;
  font-size: 12px;
}
/* line 80, ../sass/dashboard.scss */
header #infoUser #phone {
  color: white;
  font-family: arial;
  font-size: 8px;
}
/* line 87, ../sass/dashboard.scss */
header #infoUser #avatar {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
/* line 103, ../sass/dashboard.scss */
header #texto {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  position: absolute;
  top: 45px;
  margin: 10px;
}
