/* line 1, ../sass/managePage.scss */
body {
  background-color: brown;
}
/* line 3, ../sass/managePage.scss */
body #restaurantsCard {
  border-radius: 10px;
  background-color: gray;
  padding: 2px;
  width: 100%;
  height: auto10px;
  margin: 10px auto;
}
/* line 5, ../sass/managePage.scss */
body #restaurantsCard #foodOrders {
  margin: 5px;
}
/* line 7, ../sass/managePage.scss */
body #restaurantsCard #foodOrders .orderItem {
  background-color: darkorchid;
  border: 0px solid black;
  margin: 2px;
  padding: 2px;
  display: inline-block;
}
/* line 9, ../sass/managePage.scss */
body #restaurantsCard #foodOrders .orderItem div {
  margin: auto;
}
/* line 12, ../sass/managePage.scss */
body #restaurantsCard #foodOrders .orderItem div button:hover {
  background-color: orangered;
}
/* line 17, ../sass/managePage.scss */
body #restaurantsCard #foodOrders .orderItem div button {
  transition: 0.15s;
  outline: 0px;
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  margin: 5px;
  display: flex;
}
/* line 30, ../sass/managePage.scss */
body #restaurantsCard #foodOrders .orderItem div .hash {
  font-size: 8px;
}
/* line 35, ../sass/managePage.scss */
body #restaurantsCard #foodOrders .orderItem div div {
  margin: 5px;
  color: white;
  font-size: 12px;
  font-family: arial;
  display: flex;
}
/* line 57, ../sass/managePage.scss */
body #restaurantsCard #listOptions {
  margin-top: 10px;
  margin-left: 20px;
}
/* line 59, ../sass/managePage.scss */
body #restaurantsCard #listOptions .restaurants:hover {
  border: 4px solid brown;
  opacity: 0.8;
}
/* line 65, ../sass/managePage.scss */
body #restaurantsCard #listOptions .restaurants {
  transition: 0.15s;
  display: flex;
  outline: 0px;
  border: 0px;
  margin: 1px;
  width: 200px;
  height: 200px;
}
/* line 67, ../sass/managePage.scss */
body #restaurantsCard #listOptions .restaurants div {
  background-color: black;
  padding: 5px;
  margin: auto;
  opacity: 0.8;
  border-radius: 5px;
}
/* line 69, ../sass/managePage.scss */
body #restaurantsCard #listOptions .restaurants div div {
  color: white;
  font-family: arial;
  font-size: 13px;
  margin: 2px;
}
/* line 97, ../sass/managePage.scss */
body #restaurantsCard #navOpciones {
  margin-top: 10px;
  margin-left: 20px;
}
/* line 99, ../sass/managePage.scss */
body #restaurantsCard #navOpciones #menu:hover {
  filter: invert(100%);
}
/* line 104, ../sass/managePage.scss */
body #restaurantsCard #navOpciones #menu {
  background-image: url("../img/menu.png");
  transition: 0.12s;
  margin: 2px;
  outline: 0px;
  border: 0px;
  border-radius: 3px;
  background-color: white;
  width: 30px;
  height: 30px;
}
/* line 121, ../sass/managePage.scss */
body #restaurantsCard #titulo {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 25px;
}
/* line 139, ../sass/managePage.scss */
body header {
  height: 120px;
}
/* line 141, ../sass/managePage.scss */
body header #infoUser {
  padding: 5px;
  width: 220px;
  height: 110px;
  position: absolute;
  right: -53px;
  top: 9px;
}
/* line 143, ../sass/managePage.scss */
body header #infoUser div {
  margin: 3px;
}
/* line 148, ../sass/managePage.scss */
body header #infoUser #completeName {
  color: white;
  font-family: arial;
  font-size: 12px;
}
/* line 155, ../sass/managePage.scss */
body header #infoUser #phone {
  color: white;
  font-family: arial;
  font-size: 8px;
}
/* line 162, ../sass/managePage.scss */
body header #infoUser #avatar {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
/* line 178, ../sass/managePage.scss */
body header #texto {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  position: absolute;
  top: 45px;
  margin: 10px;
}
