/* line 1, ../sass/reservaRestaurants.scss */
body {
  background: brown;
}
/* line 3, ../sass/reservaRestaurants.scss */
body #restaurantsCard {
  border-radius: 10px;
  background-color: gray;
  width: 100%;
  height: 600px;
  margin: 10px auto;
}
/* line 5, ../sass/reservaRestaurants.scss */
body #restaurantsCard div {
  margin-top: 30px;
  margin-left: 20px;
}
/* line 7, ../sass/reservaRestaurants.scss */
body #restaurantsCard div #regresar {
  background-image: url("../img/logout.png");
}
/* line 12, ../sass/reservaRestaurants.scss */
body #restaurantsCard div button:hover {
  filter: invert(100%);
}
/* line 17, ../sass/reservaRestaurants.scss */
body #restaurantsCard div button {
  margin: 5px;
  display: inline-block;
  transition: 0.15s;
  outline: 0px;
  border: 0px;
  border-radius: 5px;
  width: 80px;
  height: 80px;
  background: aliceblue;
}
/* line 34, ../sass/reservaRestaurants.scss */
body #restaurantsCard #titulo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  position: relative;
  top: 20px;
  left: 20px;
  color: white;
}

/* line 54, ../sass/reservaRestaurants.scss */
header {
  width: 100%;
  height: 120px;
  background-color: brown;
  border-radius: 10px;
}
/* line 56, ../sass/reservaRestaurants.scss */
header #infoUser {
  padding: 5px;
  width: 220px;
  height: 110px;
  position: absolute;
  right: -53px;
  top: 9px;
}
/* line 58, ../sass/reservaRestaurants.scss */
header #infoUser div {
  margin: 3px;
}
/* line 63, ../sass/reservaRestaurants.scss */
header #infoUser #completeName {
  color: white;
  font-family: arial;
  font-size: 12px;
}
/* line 70, ../sass/reservaRestaurants.scss */
header #infoUser #phone {
  color: white;
  font-family: arial;
  font-size: 8px;
}
/* line 77, ../sass/reservaRestaurants.scss */
header #infoUser #avatar {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
/* line 93, ../sass/reservaRestaurants.scss */
header #texto {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  position: absolute;
  top: 45px;
  margin: 10px;
}
